/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.background {
	-fx-background-color: #37474f;
}

.background-singleTask {
	-fx-background-color: #1E453F;
}

/* needed to change background color */
.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.label {
	-fx-text-fill: #E5E7E9;
}

.label-list {
	-fx-text-fill: #E29B0E;
	-fx-font-size: 18px;
	-fx-font-weight: bold; 
}

.add-button {
	-fx-background-color: #E29B0E;
	-fx-text-fill: #212121;
	-fx-font-weight: bold;	
	-fx-border-radius: 10.0px;
	-fx-background-radius: 10.0px;	    
}

.refresh-button {
	-fx-background-color: #E29B0E;
	-fx-text-fill: #212121;	
	-fx-font-weight: bold;
	-fx-border-radius: 10.0px;
	-fx-background-radius: 10.0px;
}

.projectCB-comboBox {	
    -fx-prompt-text-fill: black;
    -fx-text-fill: black;
    -fx-background-color: #E29B0E;
    -fx-border-width: 0.0 0.0 1.0 0.0;
    -fx-border-color: #bdbdbd;   
}

/* SINGLE TASK */

.text-field-singleTask {
    -fx-prompt-text-fill: #D35400;
    -fx-font-weight: bold;
    -fx-text-fill: #E5E7E9; 
    -fx-font-size: 20px;
    -fx-display-caret: true;
}

.text-area-singleTask {
	-fx-prompt-text-fill: #E5E7E9;
    -fx-text-fill: #E5E7E9; 
    -fx-font-size: 18px;
    -fx-display-caret: true;
}

.label-userID {
	-fx-text-fill: #E5E7E9; 
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-font-style: italic; 
}

.comboBox-groupID-singleTask {	
    -fx-prompt-text-fill: black;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-background-color: #25735A;
    -fx-border-width: 0.0 0.0 1.0 0.0;
    -fx-border-color: #bdbdbd;      
}

.comboBox-category-singleTask {	
    -fx-prompt-text-fill: black;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-background-color: #25735A;
    -fx-border-width: 0.0 0.0 1.0 0.0;
    -fx-border-color: #bdbdbd;   
}

.datePicker-whenCreated-singleTask, .datePicker-whenFinished-singleTask {	
    -fx-prompt-text-fill: black;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-background-color: #25735A;
    -fx-border-width: 0.0 0.0 1.0 0.0;
    -fx-border-color: #bdbdbd;   
}

.check-box-isCompeleted-singleTask {
     -jfx-checked-color: #D35400;
     -jfx-unchecked-color: #e5e7e9;
}

.comboBox-priority-singleTask {	
    -fx-prompt-text-fill: black;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-background-color: #25735A;
    -fx-border-width: 0.0 0.0 1.0 0.0;
    -fx-border-color: #bdbdbd;   
}

.add-button-singleTask {
	-fx-background-color: #7C993A;
	-fx-text-fill: #212121;	
	-fx-font-weight: bold; 
	-fx-border-radius: 10.0px;
	-fx-background-radius: 10.0px;	    
}

.reset-button-singleTask {
	-fx-background-color: #7C993A;
	-fx-text-fill: #212121;	
	-fx-font-weight: bold; 
	-fx-border-radius: 10.0px;
	-fx-background-radius: 10.0px;	    
}

.cancel-button-singleTask {
	-fx-background-color: #7C993A;
	-fx-text-fill: #212121;	
	-fx-font-weight: bold; 
	-fx-border-radius: 10.0px;
	-fx-background-radius: 10.0px;	    
}

/* EDIT TASK */

.save-button-editTask {
	-fx-background-color: #7C993A;
	-fx-text-fill: #212121;	
	-fx-font-weight: bold; 
	-fx-border-radius: 10.0px;
	-fx-background-radius: 10.0px;	    
}

.separator {
	-fx-border-style: solid;
    -fx-border-width: 0 0 1 0;
	-fx-border-color: #c19a3e;
}
